[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pydantic = "*"
matplotlib = "*"
project = {file = ".", editable = true}
scipy = "*"
setuptools = "<81"
types-setuptools = "*"
pygame = "*"
requests = "*"
numba = "*"

[dev-packages]
black = "*"
colorama = "*"
coverage = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
flake8-black = "*"

[requires]
python_version = "3.13"

[scripts]
